.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-main-container p {
  font-size: 20px;
  font-family: "Red Hat Mono", monospace;
}

.profile-img {
  display: flex;
  margin: auto;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
  font-size: 70px;
  line-height: 1.3;
  font-weight: 300;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.name span::before {
  position: absolute;
  top: 40px;
  left: 0;
  width: 30px;
  height: 4px;
  content: "";
  background: #000000;
  margin-left: -40px;
}

.name span::after {
  position: absolute;
  top: 40px;
  right: 0;
  width: 30px;
  height: 4px;
  content: "";
  background: #000000;
  margin-right: -40px;
}

@media screen and (max-width: 480px) {
  .name {
    font-size: 50px;
  }

  .home-main-container {
    margin: 50px 0 50px 0;
  }

  .home-main-container p {
    font-size: 15px;
  }

  .profile-img {
    width: 300px;
    height: 300px;
  }
}
