.scetion-heading {
  text-align: center;
  font-size: 60px;
  margin: 50px 0px 50px 0px;
  font-family: "Kaushan Script", cursive;
  font-optical-sizing: auto; 
}


@media screen  and (max-width: 480px) {
  .scetion-heading {
    font-size: 50px;
  }
}