.navbar-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 50;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    width: 95%;
    padding-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .navbar-container {
    width: 100%;
    padding: 10px;
  }
}