.exp-main-container {
  height: auto;
  padding: 10px 40px 80px;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .exp-main-container {
    padding: 10px 20px 60px;
  }
}
