.skill-container{
    height: 150px;
    width: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.skill-container p{
    margin: 15px 0 10px 0;
    font-weight: 600;
}

.box{
    display: flex;
    justify-content: center;
}

.skill-img{
    height: 100px;
    width: 100px;
    margin-top: 15px;
}

